.fine-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.fine-scrollbar::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

/* Handle */
.fine-scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
.fine-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 84, 84);
}

.party-card{
    display: flex;
    justify-content: center;
    height: max-content;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    background-color: #ffffff63 !important;
}

.party-card .item{
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.party-card .item .logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    scale: 1;
    transition: all 0.5s;
}

.party-card .item .logo:hover{
    scale: 1.2;
}

.party-card .party-text{
    position: absolute;
}

#senate{
    background: url("../img/about-bg.jpg") top right no-repeat;
    background-size: cover;
}

#main{
    background: url("../img/about-bg.jpg") top right no-repeat;
    background-size: cover;
    background-position: fixed;
}

.section{
    min-height: 100vh;
    position: relative;
    padding-left: 160px;
}

.section:before {
    content: "";
    background: #ffffffe6;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.section h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

.section p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

.section p span {
    color: #0563bb;
    letter-spacing: 1px;
}

.party-carousel .item{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.party-carousel .item .logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    scale: 1;
    transition: all 0.5s;
}

.party-carousel .item .logo:hover{
    scale: 1.2;
}

.owl-dots{
    display: none !important;
}

.datatable{
    font-family: "Raleway", sans-serif;
}

.card-title{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #0563bb;
    font-family: "Poppins", sans-serif;
}

.datatable .logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.btn-primary{
    background-color: #0563bb !important;
    border-color: #0563bb !important;
}

.btn-primary:hover{
    background-color: #03437f !important;
    border-color: #03437f !important;
}

.card-row{
    margin-right: 80px;
}

.site-details{
    position: absolute;
    top: 10%;
    margin: 0 15px;
    width: 75%;
}

.site-details h1{
    font-size: 45px !important;
}

.site-details h5{
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .site-details{
        top: 1%;
    }

    .card-row{
        margin-right: 0px;
        margin-left: 2px;
    }

    .party-card .item{
        height: 70px;
        width: 70px;
    }

    .party-card .item .logo{
        height: 50px;
        width: 50px;
    }

    #hero h1, .section h1 {
        font-size: 25px;
        line-height: unset;
    }

    .section{
        padding-left: unset;
    }

    .site-details{
        width: unset;
        text-align: center;
    }
}

.alert-dismissible{
    position: absolute !important;
    right: -500px;
    top: 75px;
    width: max-content !important;
    transition: all 0.5s ease-in-out;
}

.alert-dismissible.show{
    right: 30px;
}

.loading-icon {
    display: flex;
    justify-content: center;
    padding: 35px;
  }

  .loading-bar {
    width: 4px;
    height: 18px;
    margin: 0 8px;
    border-radius: 4px;
    background: #4154f1;
    animation: loading 2s ease-in-out infinite;
  }

  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.5);
    }
    40% {
      transform: scale(1);
    }
  }

  .loading-bar:nth-child(1) {
    animation-delay: 0.s;
  }
  .loading-bar:nth-child(2) {
    animation-delay: 0.25s;
  }
  .loading-bar:nth-child(3) {
    animation-delay: 0.5s;
  }
  .loading-bar:nth-child(4) {
    animation-delay: 0.75s;
  }

  .cr-text{
    font-size: 13px;
  }

.party-name{
    position: absolute;
    width: max-content;
    text-align: center;
    z-index: 2;
    top: -25px;
    padding: 2px 10px;
    border-radius: 20px;
    background: #0563bb;
    color: #fff;
    opacity: 0;
    transition: all 1s;
}

.party-card .item:hover .party-name{
    opacity: 1;
}
